* {
    font-family: 'Cutive Mono', monospace;
}

body {
    background-color: powderblue;
}

.container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: center;
}

h1 {
    margin: 0px;
    margin-top: 0px;
    font-size: 5em;
    color: red;
    font-family: 'PT Mono', monospace;
}

.container h2 {
    text-align: center;
    color: red;

}

.john-doe-container {
    display: flex;
    flex-direction: column;
}

#john-doe-pic {
    width: 50%;
    align-self: center;
    border-radius: 5%;
}

.alias {
    width: 50%;
    background-color: lightcyan;
    border-radius: 2%;
    text-align: center;
    border: solid 5px slategrey;
    box-shadow: 10px 10px 7px -4px rgba(0,0,0,0.5);

}

.alias > ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.accomplices {
    display: flex;
    border-radius: 2%;
    flex-direction: row;
}

.accomplices h2, h3 {
    text-decoration: underline;
    text-align: center;
}

#accomplice-text {
    margin: auto;
    text-decoration: underline;
    text-align: center;
    color: red;
}

#john,
#jacob,
#jingle,
#heimer,
#schmidt {
    background-color: lightcyan;
    border-radius: 5%;
    margin: 10px;
    border: solid 5px slategrey;
    box-shadow: 10px 10px 7px -4px rgba(0,0,0,0.5);
}

footer {
    background-color:  #4CAF50;
}