

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
   
    
}

.container {
    padding: 2px 16px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    
}

.container {
    padding: 2px 16px;
    border: solid black;
    
}

.font{
    font-family: 'Cutive Mono', monospace;
}
 .flex {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
     
     
     
 }

 .card {
     margin: 1em;
     
 }

 
.ul {
    list-style-type: none;
    
}

img{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}







