* {
    box-sizing: border-box;
}

body {
    background-color: powderblue;
    font-family: 'Cutive Mono', monospace;

}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

h2 {
    text-decoration: underline;
}

.header {
    text-align: center;
}

.top {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 1em;
}

.middle {
    justify-content: center;
    text-align: center;
    border: 2px double black;
    border-radius: 10px; 
    width: 95%;
    box-shadow: 10px 10px 7px -4px rgba(0,0,0,0.5);
    margin: auto;
}

.bottom {
    display: flex;
    justify-content: space-around; 
    text-align: center;
    margin: 1em;
}

.allegations,
.convictions,
.witness,
.victim {
    border: 2px double black;
    border-radius: 10px;
    width: 40%;
    box-shadow: 10px 10px 7px -4px rgba(0,0,0,0.5);
}

.victim,
.witness {
    padding: 0 1em;
}

.profile {
    border-radius: 50%;
    width: 200px;
}

.prison-pic {
    width: 300px;
}

.prisons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}